/* Importa a fonte do Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300;400;500;600;700&display=swap');

/* Estiliza o corpo da página */
body {
    font-family: "Fira Sans", sans-serif;
    background-color: #F8EDED;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    padding: 0;
}

/* Estiliza o título principal */
h1 {
    font-size: 2.5rem;
    color: #222831;
    text-align: center;
    letter-spacing: 0.4rem;
}

/* Estiliza as seções */
section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 3rem;
}

/* Estiliza o campo de input */
section input {
    width: 30rem;
    border: none;
    padding: 1rem;
    border-radius: 1.5rem;
    margin-bottom: 1rem;
    color: #45474B;
    font-size: 1rem;
    box-sizing: border-box;
}

/* Estiliza o botão */
section button {
    padding: 0.8rem 1.2rem;
    border: none;
    border-radius: 1.5rem;
    background-color: #173B45;
    color: #F5F7F8;
    font-size: 1rem;
    cursor: pointer;
    font-family: "Fira Sans", sans-serif;
}

/* Estiliza o botão no hover */
section button:hover {
    background-color: #30475E;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Estiliza a seção de resultados */
.resultados-pesquisa {
    width: 80rem;
    height: 46vh;
    overflow-y: auto;
    margin-top: 1rem;
    padding: 1rem;
    border-radius: 0.6rem;
}

/* Estiliza os itens de resultado */
.item-resultado {
    background: #FFFFFF;
    border-radius: 0.6rem;
    padding: 1rem;
    margin-bottom: 1rem;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    width: 40rem;
}

/* Estiliza os títulos nos resultados */
.item-resultado h2 {
    font-size: 1.5rem;
    color: #222831;
}

/* Estiliza os links */
.item-resultado a {
    text-decoration: none;
    color: #30475E;
}

/* Estiliza links ao passar o mouse */
.item-resultado a:hover {
    text-decoration: underline;
}

/* Estiliza o texto descritivo */
.descricao-meta {
    color: #45474B;
    margin: 0.5rem 0;
}

/* Estiliza o rodapé */
footer {
    background-color: #B43F3F;
    color: #F8EDED;
    text-align: center;
    padding: 0;
    width: 100%;
    position: absolute;
    bottom: 0;
    font-size: 1rem;
}

/* Estiliza os ícones no rodapé */
footer img {
    width: 20px;
    height: 20px;
    margin: 0 5px;
    align-items: center;
}

/* Estilos responsivos */
@media (max-width: 768px) {
    h1 {
        font-size: 2rem;
        letter-spacing: 0.2rem;
    }

    section input {
        width: 25rem;
        padding: 0.8rem;
    }

    .resultados-pesquisa {
        width: 40rem;
        height: 40vh;
    }

    .item-resultado h2 {
        font-size: 1.3rem;
    }
}

@media (max-width: 480px) {
    h1 {
        font-size: 1.8rem;
        letter-spacing: 0.1rem;
    }

    section input {
        width: 17rem;
    }

    section button {
        padding: 0.6rem 1rem;
        font-size: 0.9rem;
    }

    .resultados-pesquisa {
        width: 90%;
        height: 50vh;
    }

    .item-resultado h2 {
        font-size: 1.1rem;
    }

    footer {
        font-size: 0.9rem;
    }
}
